
@{
    ViewBag.Title = "Logout";
    Layout = "~/Views/_shared/_LayoutPage1.cshtml";
}

<h2>Bạn đã đăng xuất thành công</h2>
<p> <a href="@Url.Action("Login", "Home44")">đăng nhập</a> lại để tiếp tục.</p>

