@using System.Web;
@using System.Web.Mvc;
@model buoi08.Models.ThanhToan
@{
    ViewBag.Title = "ThanhToanOnline";
    Layout = "~/Views/_shared/_LayoutPage1.cshtml";
}

<h2>Thanh Toán Online</h2>

<p>Đang chuyển hướng đến trang thanh toán PayPal...</p>

